

body{
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

header{
    display: block;
    z-index: 80;
}

.site_header{
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: #F00000;
}

.header_inner{
    display: flex;
    height: 70px;
    width: 1354px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.badge_wrapper{
    display: block;
}

.header_badge{
    display: inline-block;
    width: 96px;
    position: relative;
    top: 0px;
}

.header_menu{
    display: flex;
    width: 100%;
}

.navigation{
    padding-top: 8px;
    width: 100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.nav_main{
    display: flex;   
    width: 100%;
    list-style: none;
    margin-top: 6px;
    margin-bottom: 6px;
}

.menu_item{
    display: flex;
}

.menu_link{
    color: white;
    display: block;
    padding: 21px 20px 16px;
    border-bottom: transparent 5px solid;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none !important;

}

a.menu_link{
    cursor: pointer;
    text-decoration: underline;
}

#about{
    position: relative;
    left: 50%;
}